@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gradient-to-tr from-blue-300 to-pink-300 via-teal-300 h-[100vh] text-slate-900;
}

@keyframes scrollX {
    from{
        transform: translateX(-50vw);
    }
    to{
        transform: translateX(150vw);
    }
}


@keyframes scrollY {
    from{
        transform: translateY(-50vh);
    }
    to{
        transform: translateY(150vh);
    }
}

.scrollLeft{
    animation-name: scrollX;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.scrollRight{
    animation-name: scrollX;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.scrollUp{
    animation-name: scrollY;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
.scrollDown{
    animation-name: scrollY;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ctrl-panel{
    @apply shadow-md rounded-lg w-12 mx-auto bg-gray-100;
}