@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gradient-to-tr from-green-100 to-slate-100 via-blue-100 h-[100vh] text-slate-900;
}

@keyframes scrollX {
    from{
        transform: translateX(-20vw);
    }
    to{
        transform: translateX(120vw);
    }
}


@keyframes scrollY {
    from{
        transform: translateY(-50vh);
    }
    to{
        transform: translateY(120vh);
    }
}

.scrollLeft{
    transform: translateX(120vw);
    animation-name: scrollX;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.scrollRight{
    transform: translateX(-20vw);
    animation-name: scrollX;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.scrollUp{
    transform: translateY(120vw);
    animation-name: scrollY;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
.scrollDown{
    transform: translateY(-20vw);
    animation-name: scrollY;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.dirButton{
    @apply shadow-md w-12 mx-auto bg-gray-100;
}